
body {
     background-color: #f7f4f49c;
     color: black
     box-sizing: border-box;
   
}
ul { 
    list-style: none
}
 /* mudando tamanho da bolinha marcação */
ul li:before {
    content: '\2022';
    margin: 0 10px;
    color: #20b3ff; /* cor da bolinha */}

ul {
    display: flex;
    justify-content: space-around;
    font-family: arial;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin-left: 150px;

}


.center {
    text-align: center;
}

a {
    color: black;
}

.imagem {
    height: 400px;
    top: 0;
    border-radius: 50%;
    text-align: center;
    background-color: #20b3ff;
    
}
       
.fontedes {
    font-size: 2rem;
    color:black;
    text-align: center;
}




.tamanho{
    color: #f0f6f8;
    text-align: center;
    background-color: #20b3ff;
    padding: 200px;

}

.centraliza_img {
    text-align: center;
  
}



label {
    display: block;
    padding: 15px;
    text-align: center;
}
form {
    display: block;
    background-color: #20b3ff;
    text-align: center;
    
}    
    
label {
        color: #FFF;
        text-align: center;
      }
input {
        display: inline-block;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
      }
textarea {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}


button {
        background-color:#f3ac13;
        color:white;
        border: #f3ac13;
        padding-right: 30px;
        padding: 15px;
    }
        
 
   
   
/*rodape */
footer {
margin-top: 2px;
}
































































































